In [1]:
########################### Import Requisite Libraries #########################
import pandas as pd
import numpy as np
import os
import sys
import pprint
import warnings
import textwrap

################################################################################
# Add the parent directory to sys.path to access 'functions.py'
sys.path.append(os.path.join(os.pardir))
from py_scripts.functions import *

################################################################################
print("Python version:")
print(sys.version)
print()
print(f"Pandas Version = {pd.__version__}")
print(f"Numpy Version = {np.__version__}")

Python version:
3.11.9 | packaged by Anaconda, Inc. | (main, Apr 19 2024, 16:40:41) [MSC v.1916 64 bit (AMD64)]

Pandas Version = 2.2.2
Numpy Version = 1.26.4

In [2]:
base_path = os.path.join(os.pardir)

# Go up one level from 'notebooks' to the parent directory, then into the 'data' folder
data_path = os.path.join(os.pardir, "data")

image_path_png = os.path.join(base_path, "images", "png_images")
image_path_svg = os.path.join(base_path, "images", "svg_images")

# Use the function to ensure the 'data' directory exists
ensure_directory(data_path)
ensure_directory(image_path_png)
ensure_directory(image_path_svg)

# Read the file into a DataFrame
df_eda = pd.read_excel(os.path.join(data_path, "KFRE_CKD_raw.xlsx"))

Directory exists: ..\data
Directory exists: ..\images\png_images
Directory exists: ..\images\svg_images

In [3]:
df_eda.head()  # inspect first 5 rows of data

   Age  SEX  HTN  DM        GFR   ACR   Ca    P  Alb  TCO2 ESRD  ESRD_dur
0   61    1    1   0   9.148234  10.0  6.0  4.0  2.6  16.0    0      2086
1   66    1    1   0   7.316171   0.0  7.7  6.5  3.5  14.0    1         3
2   70    1    1   0  10.124995   0.0  7.5  3.8  3.2  17.0    1        93
3   49    0    0   0   7.627585   0.0  8.5  5.4  4.3  23.0    1       138
4   54    1    1   1  11.335170   0.0  8.0  5.1  2.9  20.0    1       311

## Descriptive Statistics

In [4]:
df_eda[["Age", "GFR", "ACR", "Ca", "P", "Alb", "TCO2", "ESRD_dur"]].describe()

,Age,GFR,ACR,P,Alb,TCO2,ESRD_dur
count,6569.000000,6569.000000,6569.000000,6569.000000,6569.000000,6569.000000,6569.000000
mean,59.782920,37.381776,1016.402261,3.798432,3.891856,24.507368,1257.493074
std,14.757636,16.303691,2165.884063,1.063122,0.627309,4.423291,1315.645052
min,18.000000,2.237831,0.000000,0.500000,0.700000,3.000000,1.000000
25%,51.000000,24.418985,55.287755,3.200000,3.600000,22.000000,224.000000
50%,62.000000,40.587792,284.182488,3.600000,4.000000,25.000000,786.000000
75%,71.000000,51.677297,1145.000000,4.200000,4.300000,27.000000,1899.000000
max,97.000000,59.995202,60323.438855,15.500000,5.700000,59.000000,5860.000000