# Exploratory Data Analysis

## Import Requisite Libraries

In [1]:
########################### Import Requisite Libraries #########################
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import pprint
import warnings
import textwrap
import kfre

################################################################################
# Add the parent directory to sys.path to access 'functions.py'
sys.path.append(os.path.join(os.pardir))
from py_scripts.functions import *

################################################################################
print("Python version:")
print(sys.version)
print()
print(f"Pandas Version = {pd.__version__}")
print(f"Seaborn Version = {sns.__version__}")
print(f"Numpy Version = {np.__version__}")
print(f"KFRE Version = {kfre.__version__}")

Python version:
3.11.9 | packaged by Anaconda, Inc. | (main, Apr 19 2024, 16:40:41) [MSC v.1916 64 bit (AMD64)]

Pandas Version = 2.2.2
Seaborn Version = 0.13.2
Numpy Version = 1.26.4
KFRE Version = 0.1.8

## Set Paths

In [2]:
base_path = os.path.join(os.pardir)

# Go up one level from 'notebooks' to the parent directory, then into the 'data' folder
data_path = os.path.join(os.pardir, "data")
data_output = os.path.join(os.pardir, "data_output")

image_path_png = os.path.join(base_path, "images", "png_images")
image_path_svg = os.path.join(base_path, "images", "svg_images")

# Use the function to ensure the 'data' directory exists
ensure_directory(data_path)
ensure_directory(data_output)
ensure_directory(image_path_png)
ensure_directory(image_path_svg)

# Read the file into a DataFrame
df = pd.read_csv(os.path.join(data_path, "KFRE.csv")).set_index("Patient_ID")

Directory exists: ..\data
Directory exists: ..\data_output
Directory exists: ..\images\png_images
Directory exists: ..\images\svg_images

In [3]:
df.head()  # inspect first 5 rows of data

,Age,SEX,HTN,DM,GFR,ACR,Ca,P,Alb,TCO2,ESRD,ESRD_dur,Age_Group
Patient_ID,,,,,,,,,,,,,
723027400,61,1,1,0,9.148234,10.000000,6.0,4.0,2.6,16.0,0,2086,60-69
904532344,30,0,1,1,153.974871,29.000000,9.4,4.5,4.0,24.0,0,2357,18-29
890205650,55,1,0,0,66.810414,25.774259,9.2,1.6,4.3,18.0,0,265,50-59
317865962,35,1,0,0,89.347060,28.451303,10.5,2.9,5.0,26.0,0,700,30-39
968356501,66,1,1,0,7.316171,0.000000,7.7,6.5,3.5,14.0,1,3,60-69

In [4]:
df_kfre = df[
    [
        "Age",
        "SEX",
        "GFR",
        "ACR",
        "DM",
        "HTN",
        "Alb",
        "Ca",
        "P",
        "TCO2",
        "ESRD",
    ]
]